<mat-toolbar class="custom-toolbar">
  <div class="spacer"></div>

  <button mat-flat-button class="center-button" (click)="openProgress()">Iniciar</button>

  <div class="right-icons">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="openAbout()"
    >
      <mat-icon>info</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="openSettings()"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
