.console-output {
  font-family: "Roboto Mono", Courier, monospace;
  font-size: 0.75rem;
  overflow-x: scroll;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  max-height: 200px;
  white-space: pre;
  word-wrap: normal;
  scrollbar-width: thin;
}

.progress-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-spinner-overrides((size: 1.5rem;));
}

.container {
  padding-bottom: 0.5rem;
}

h2 {
  margin: 1rem 0 0 1rem;
}
