<mat-toolbar>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<main class="container">
  <app-main></app-main>

  <form class="row" (submit)="greet($event, greetInput.value)">
    <input #greetInput id="greet-input" placeholder="Enter a name..." />
    <button type="submit">Greet</button>
  </form>
  <p>{{ greetingMessage }}</p>
</main>
