:root {
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

main {
  flex: 1;
  overflow-y: auto; /* Allows scrolling only inside main */
  padding: 0 1rem 1rem 1rem;
}

footer {
  height: 64px;
  flex-shrink: 0; /* Ensures footer doesn't shrink */
}
