<section class="container">
  <form [formGroup]="mainForm">
    <div>
      <mat-form-field class="w-100">
        <mat-label><strong>Vídeo</strong></mat-label>
        <input matInput formControlName="inputFile" [disabled]="true" />
        <button mat-icon-button matSuffix>
          <mat-icon>folder_open</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-100">
        <mat-label><strong>Local do salvamento</strong></mat-label>
        <input matInput formControlName="outputFile" [disabled]="true" />
        <button mat-icon-button matSuffix>
          <mat-icon>folder_open</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-100">
        <mat-select formControlName="parseLanguage">
          @for (language of availableLanguages; track language) {
            <mat-option value="{{ language.code }}">{{ language.name }}</mat-option>
          }
        </mat-select>
        <mat-label><mat-icon>language</mat-icon> <strong>&nbsp;Idioma do vídeo</strong></mat-label>
      </mat-form-field>
    </div>
  </form>
</section>
