<section class="container">
  <div>
    <mat-form-field class="full-width">
      <mat-label><strong>Vídeo</strong></mat-label>
      <input matInput disabled />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Nome da transcrição</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label><mat-icon>description</mat-icon> <strong>&nbsp;Formato do arquivo</strong></mat-label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label><mat-icon>language</mat-icon> <strong>&nbsp;Idioma</strong></mat-label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label><mat-icon>smart_toy</mat-icon> <strong>&nbsp;Modelo</strong></mat-label>
    </mat-form-field>
  </div>

  <button mat-flat-button>Iniciar</button>
</section>
