<section class="container">
  <form [formGroup]="settingsForm">
    <div>
      <mat-form-field class="full-width">
        <mat-select formControlName="outputFormat">
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>description</mat-icon> <strong>&nbsp;Formato do arquivo</strong></mat-label>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-select formControlName="parseLanguage">
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>language</mat-icon> <strong>&nbsp;Idioma</strong></mat-label>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <mat-select formControlName="aiModel">
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>smart_toy</mat-icon> <strong>&nbsp;Modelo</strong></mat-label>
      </mat-form-field>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Opções avançadas </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
          <mat-label><strong>Working directory</strong></mat-label>
          <input matInput [disabled]="true" formControlName="workingDirectory" />
          <button mat-icon-button matSuffix>
            <mat-icon>folder</mat-icon>
          </button>
        </mat-form-field>
        <div style="align-items: left">
          <div style="display: flex; align-items: center; gap: 0.25rem">
            <mat-icon style="min-width: 24px">volume_up</mat-icon>
            <mat-label><strong>Ganho</strong></mat-label>
            <mat-slider min="0" max="10" step="1" class="full-width">
              <input matSliderThumb value="0" formControlName="volumeGain" />
            </mat-slider>
            <span>+0.0</span>
          </div>
          <p style="text-align: left">Esta opção não é salva no fechamento</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</section>
